$base-font: "Poppins", sans-serif;
$base-size: 2.2rem;
$headin-size: 4.9rem;
$base-tb-margin: 1.4rem;

$separation: 10rem;

$base-font-color: #0f0f0f;
$base-font-weight: 400;

$transition-time: 0.3s;

// Color Palette
$lighter: #f5f4f2;
$soft-light: #f3efec;
$light: #e5e1de;
$dark: #d1ccc9;
$darker: #c6c1be;

$success: #e2ffdc;
$error: #ffcfcf;
$warning: #ecd8ac;
$info: #cff1ff;
