@use "include" as *;

.table-wrapper {
  width: fit-content;
  margin: 0 auto;
  table {
    table-layout: fixed;
    border-collapse: collapse;
  }
  tbody tr:nth-child(odd) {
    background-color: $lighter;
  }
  th,
  td {
    padding: 0.6em;
  }
}
